body, html {
  line-height: 1;
  font-weight: 200;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
  height: 100%;
  width: 100%;
}

.clearfix {
  display: inline-block;
  &:after {
    display: block;
    content: " ";
    clear: both;
    visibility: hidden;
  }
}




